<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.oracle.mapper.AppointmentMapper">

    <resultMap id="AppointmentMap" type="com.oracle.pojo.Appointment">
        <id column="appointment_id" property="appointmentId"/>
        <result column="patient_id" property="patientId"/>
        <result column="doctor_id" property="doctorId"/>
        <result column="appointment_date" property="appointmentDate"/>
        <result column="status" property="currentStatus"/>

    </resultMap>

    <update id="cancelAppointment">
        update appointments set status='cancelled' where appointment_id=#{id}
    </update>

    <select id="selectAppointmentByPatientId" resultMap="AppointmentMap">
        SELECT *
        FROM appointments
        where patient_id=#{id}
        ORDER BY
            CASE
                WHEN status = 'booked' THEN 1
                WHEN status = 'cancelled' THEN 2
                WHEN status = 'completed' THEN 3
                ELSE 4
                END,
            appointment_date
    </select>

    <select id="selectAppointmentById" resultMap="AppointmentMap">
        select * from appointments where appointment_id=#{id}
    </select>

    <select id="selectAllOrderBy" resultType="com.oracle.pojo.Appointment">
        SELECT *
        FROM appointments
        ORDER BY
            CASE
                WHEN status = 'booked' THEN 1
                WHEN status = 'cancelled' THEN 2
                WHEN status = 'completed' THEN 3
                ELSE 4
                END,
            appointment_date;
    </select>

    <select id="selectAllByDoctorId" resultMap="AppointmentMap">
        SELECT *
        FROM appointments
        where doctor_id=#{id}
        ORDER BY
            CASE
                WHEN status = 'booked' THEN 1
                WHEN status = 'cancelled' THEN 2
                WHEN status = 'completed' THEN 3
                ELSE 4
                END,
            appointment_date
    </select>

    <insert id="insertAppointment" parameterType="com.oracle.pojo.Appointment">
        insert into appointments values (null,#{patientId},#{doctorId},#{appointmentDate},#{currentStatus})
    </insert>
</mapper>
