<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.oracle.mapper.BookAppointmentMapper">

    <resultMap id="bookAppointmentMap" type="com.oracle.pojo.BookAppointment">
        <id column="appointment_date" property="appointmentDate"/>
        <result column="appointment_date" property="appointmentDate" />
        <result column="bookNumber" property="bookNumber"/>

    </resultMap>
    <select id="selectByAppointmentDate" resultMap="bookAppointmentMap">
        select * from appointmentbooknumber where appointment_date=#{appointmentDate}
    </select>

    <select id="selectAll" resultMap="bookAppointmentMap">
        select * from appointmentbooknumber
    </select>

</mapper>
