<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.mapper.DepartmentMapper">

    <resultMap id="departmentMap" type="com.oracle.pojo.Department">
        <id column="department_id" property="departmentId"/>
        <result column="department_name" property="departmentName"/>
        <result column="department_description" property="departmentDescription"/>
        <result column="department_pid" property="departmentPid"/>
        <result column="department_id" property="departmentId"/>
        <result column="department_level" property="departmentLevel"/>
    </resultMap>

    <select id="selectRootDepartment" resultMap="departmentMap">
        select * from departments where department_level = 1
    </select>

    <insert id="insertDepartment" >
        insert into departments values (null,#{departmentName},#{departmentPid},#{departmentLevel},#{departmentDescription})
    </insert>

    <select id="selectCountSidById" resultType="java.lang.Integer">
        select count(department_id) from departments where department_pid=#{id}
    </select>

    <delete id="deleteDepartmentFirst">
        delete from departments where department_id=#{id}
    </delete>

    <select id="selectRootDepartmentById" resultType="com.oracle.pojo.Department">
    select * from departments where department_id=#{departmentId}
    </select>


    <delete id="deleteByDepartmentId">
        delete from departments where department_id=#{departmentId}
    </delete>

    <select id="selectDepartment" resultMap="departmentMap">
        select * from departments where department_pid is null
    </select>

    <select id="selectDepartmentAll" resultMap="departmentMap">
        select * from departments
    </select>

    <select id="selectDepartmentById" resultMap="departmentMap">
        select * from departments where department_id=#{id}
    </select>

    <select id="selectDepartmentByPid" resultMap="departmentMap">
        select * from departments where department_pid=#{pid}
    </select>
    <!--这里也可以用起别名的方式
    select department_id as departmentId,department_name as dapartmentName from ....
    -->
</mapper>
